.complete h1{
    text-decoration: line-through;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    font-size: 62.5%;
}

$shadow: darken(#f7f7f7, 5%);
@mixin boxx{
    box-shadow: 5px 5px 5px $shadow;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
    padding: 30px 0;
    background: #f7f7f7;
    @include boxx();
    height: 600px;
    color: #555;
    h2{
        font-size: 2rem;
        font-weight: bold;
    }
    form{
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 1.5rem;
            font-weight: bold;
        }
        input{
            width: 300px;
            padding: 15px;
            margin: 20px auto;
            border: 0;
            border-radius: 15px;
            font-size: 1rem;
            @include boxx();
        }
        .buttonGroup{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            width: 150px;
            height: 40px;
            margin: 20px;
            font-size: 1rem;
            border: 0;
            border-radius: 15px;
            background: #007EA7;
            color: white;
            @include boxx();
            &:hover{
                background: lighten(#007EA7, 5%);
                cursor: pointer;
            }
        }
    }
    .todoList{
        height: 50%;
        overflow: auto;
        .todoItem{
            h1{
                font-size: 1rem;
                margin: 10px 0;
            }
        }
    }
}